@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import "tailwindcss";

:root {
  font-family: "Fira Code", monospace;
}

@theme {
  --color-background: #282c33;
  --color-primary: #c778dd;
  --color-secondary: #fce38a;
  --color-accent: #eaffd0;
  --color-text: #abb2bf;
}

body {
  background-color: #282c33;
}

html {
  scroll-behavior: smooth;
}
.main-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 8px; /* Default padding */
}

/* For small screens (sm) - Phones */
@media (max-width: 640px) {
  .main-container {
    padding-inline: 30px; /* Reduce padding for very small screens */
  }
}

/* For medium screens (md) - Tablets */
@media (min-width: 768px) {
  .main-container {
    padding-inline: 30px; /* Equivalent to Tailwind md:px-6 */
  }
}

/* For large screens (lg) - Laptops & Desktops */
@media (min-width: 1024px) {
  .main-container {
    padding-inline: 32px; /* Equivalent to Tailwind lg:px-8 */
  }
}



/* Custom Scrollbar 

/* width */
::-webkit-scrollbar {
  width: 10px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background:none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  border: 10px 0px; /* Rounded corners */
  height: 15px;
  min-height: 15px;
  max-height: 15px;
  background-color: rgba(199, 120, 221, 0.6);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(199, 120, 221)
}