@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import "tailwindcss";

:root{
  font-family: "Fira Code", monospace;
}

@theme{
    --color-background: #1E1E1E;
    --color-primary:#C778DD;
    --color-secondary: #FCE38A;
    --color-accent: #EAFFD0;
    --color-text: #ABB2BF;
  }